
//- Landscape widths
//- 585 (0.5x)
//-- 878 (0.75x)
//- 1170 (1x)
//- 1755 (1.5x)
//- 2340 (2x)

//- Grid widths
//- 285 (0.5x)
//- 428 (0.75x)
//- 570 (1x)
//- 855 (1.5x)
//- 1140 (2x)


mixin image-wide(img)
	- var images = "/images/" + img + "_585w.png 585w, /images/" + img + "_878w.png 878w, /images/" + img + "_1170w.png 1170w, /images/" + img + "_1755w.png 1755w, /images/" + img + "_2340w.png 2340w";
	- var defaultImage = "/images/" + img + "_1170w.png";
	img.img-wide(srcset=images, src=defaultImage, alt=title)&attributes(attributes)

mixin image-half(img)
	- var images = "/images/" + img + "_285w.png 285w, /images/" + img + "_428w.png 428w, /images/" + img + "_570w.png 570w, /images/" + img + "_855w.png 855w, /images/" + img + "_1140w.png 1140w";
	- var defaultImage = "/images/" + img + "_570w.png";
	img.img-half(srcset=images, src=defaultImage, alt=title)&attributes(attributes)