extends ../_layouts/project.pug

block variables
	- var title = 'A pictogram is worth a thousand words.';

block description
	.description
		h3 Description
		p Most of us are familiar with the notion that a complex idea may be communicated through an image, or that an image of an object captures its meaning or essence better than a description could. Iconography is a natural extension of this notion. Space efficient and inherently multilingual, it lends itself to a range of communication tasks—from wayfinding on public transit to digital interfaces.

		p The following line icons have a uniform size and were drawn with a single stroke weight, round caps, and corners, on a padded 8 by 8 grid. Use of color is limited to a solid color and a derivative tint as needed.


block metadata
	+metadata("Category", "Iconography")

block content
	h2 Core
	img.img-wide(src="/images/Icons_Core.svg", alt=title).shadow
	h2 Buildings
	img.img-wide(src="/images/Icons_Buildings.svg", alt=title).shadow
	h2 Transportation & travel
	img.img-wide(src="/images/Icons_Transport_Travel.svg", alt=title).shadow
	img.img-wide.margin-top(src="/images/Icons_Closed_Loop_Insulin_Delivery2.svg", alt=title)
	h2 Technology & science
	img.img-wide(src="/images/Icons_Tech_Science.svg", alt=title).shadow
	h2 A.I., data & data science
	img.img-wide(src="/images/Icons_Data_Science.svg", alt=title).shadow
	h2 Healthcare
	img.img-wide(src="/images/Icons_Healthcare.svg", alt=title).shadow
	img.img-wide.margin-top(src="/images/Icons_Article_Publishing2.svg", alt=title)
	h2 Food & drink
	img.img-wide(src="/images/Icons_Food_Drink.svg", alt=title).shadow
	h2 Audio & video
	img.img-wide(src="/images/Icons_Audio_Video.svg", alt=title).shadow
	h2 Household
	img.img-wide(src="/images/Icons_Household.svg", alt=title).shadow
	h2 Animals & pets
	img.img-wide(src="/images/Icons_Animals_Pets.svg", alt=title).shadow
	img.img-wide.margin-top(src="/images/Icons_Reseller_Venue_Relationship2.svg", alt=title)
	h2 People
	img.img-wide(src="/images/Icons_People.svg", alt=title).shadow
	h2 Office supplies
	img.img-wide(src="/images/Icons_Office_Supplies.svg", alt=title).shadow
	h2 Time & date
	img.img-wide(src="/images/Icons_Time_Date.svg", alt=title).shadow
	img.img-wide.margin-top(src="/images/Icons_Feedback_Loop2.svg", alt=title)
	h2 Finance
	img.img-wide(src="/images/Icons_Finance.svg", alt=title).shadow
	h2 Communication
	img.img-wide(src="/images/Icons_Communication.svg", alt=title).shadow
	h2 Electronics
	img.img-wide(src="/images/Icons_Electronics.svg", alt=title).shadow

block related-projects
	+project('Mapping family caregiving.', '../images/Caremaps_0.png', '../mapping_family_caregiving/')
	+project('From sensors to action.', '../images/Sensors_Thumbnail.svg', '../from_sensors_to_action/')
	+project('Gardeners always get their hands in the dirt.', '../images/French_Paper_00.jpg', '../gardeners_always_get_their_hands_in_the_dirt/')