extends ../_layouts/project.pug

block variables
	- var title = 'From sensors to action.';

block description
	.description
		h3 Description
		p Descartes Labs, a spinout from the Los Alamos National Laboratory combines A.I., satellites, and high-performance computing for some truly impressive results. While at the national lab, they pioneered Linux based distributed supercomputing and helped ensure there would be no national security surprises. Now, they help commercial and government entities alike. Descartes Labs specializes in monitoring, analyzing, and predicting changes to commodity supply chains, worldwide, in real time—providing their customers with the information advantage they need.

		p This model, presented as a build, describes the path from sensors to action, outlining the basics of predictive machine learning systems.

block metadata
	+metadata("Agency", "Dubberly Design Office")
	+metadata("Direction", "Hugh Dubberly")
	+metadata("Categories", "Information", "Model", "Machine Learning")

block content
	h2 Sensors make point-in-time observations.
	img.img-wide(src="/images/Sensors_1.svg", alt=title)
	h2 Observations may accumulate over time—preserving historical data.
	img.img-wide(src="/images/Sensors_2.svg", alt=title)
	h2 Enough historical data enables modeling.
	img.img-wide(src="/images/Sensors_3.svg", alt=title)
	h2 Modeling predicits future states.
	img.img-wide(src="/images/Sensors_4.svg", alt=title)
	h2 More observations lead to more accurate models, and a better understanding of what is to come.
	img.img-wide(src="/images/Sensors_5.svg", alt=title)
	h2 Knowing what is coming enables us to act today.
	img.img-wide(src="/images/Sensors_6.svg", alt=title)

block related-projects
	+project('A pictogram is worth a thousand words.', '../images/Iconography_00.gif', '../a_pictogram_is_worth_a_thousand_words/')
	+project('Measuring corn production, in every county, every day.', '../images/Corn_Thumbnail.gif', '../measuring_corn_production_in_every_county_every_day/')
	+project('Mapping family caregiving.', '../images/Caremaps_0.png', '../mapping_family_caregiving/')