extends ../_layouts/project.pug

block variables
	- var title = 'Mapping family caregiving.'

block description
	.description
		h3 Description
		p We rely on healthcare professionals (HCPs) to help us maintain our health—typically in hospitals and clinics. Yet many have chronic health conditions, which require self-management—and the help of family caregivers, working at home around the clock. Centers for Disease Control and Prevention (CDC) states that ’As of 2012, about half of all adults [in the U.S.]—117 million people—had one or more chronic health conditions.’ Chronic conditions require ongoing support, often from family. Experts differ on the number of family caregivers, but a 2013 Pew Research study suggested it could be as high as 100 million people (39% of the population). 

		p In 2015, Robert Wood Johnson Foundation funded a pilot study, Atlas of Caregiving, to look at new ways of measuring family caregiving. As part of the study, I designed a series of diagrams describing the study’s participants and their care ecosystem by showing who cares for whom, how often, their relation, and their relative proximity. The design rationale was documented, enabling others to extend the set.

block metadata
	+metadata("Agency", "Dubberly Design Office")
	+metadata("Client", "Robert Wood Johnson Foundation")
	+metadata("Project", "Atlas of Caregiving")
	+metadata("Categories", "Information", "Diagram", "Caregiving")

block content
	h2 Ana, a woman in her 50s, has cystic fibrosis and mainly takes care of herself. She also cares of her son Albert who suffers from depression.
	img.img-wide(src="/images/Caremaps_Ana.svg", alt=title)
	h2 Chantal (50s) has left work to care for her mother Debby (80s) who is in very poor health. A paid home aide provides significant assistance. Chantal’s brothers also help.
	img.img-wide(src="/images/Caremaps_Chantal.svg", alt=title)
	h2 Only-child Fay (30s) cares for her mother Josephine (70s) who has been diagnosed with Alzheimer’s disease. With no one to help her, she has put her career on hold to provide 24x7 care.
	img.img-wide(src="/images/Caremaps_Fay.svg", alt=title)
	h2 Gabrielle, a woman in her 60s with health issues of her own, is the primary caregiver for her mother Penny (101) who has Alzheimer’s. 
	img.img-wide(src="/images/Caremaps_Gabrielle.svg", alt=title)
	h2 Hanna (50s) and husband Gaston (50s) care for her brother Harvey (50s), with many major health issues. Gaston also cares for his mother, while managing his own chronic pain and edema. Both also work.
	img.img-wide(src="/images/Caremaps_Hanna.svg", alt=title)
	h2 Fernando (59) lives with his wife Laura (54). They live next door to his mother Maria (84) who was diagnosed with Alzheimer’s disease last year. Fernando is her primary caregiver, but has an extensive support network helping.
	img.img-wide(src="/images/Caremaps_Fernando.svg", alt=title)
	h2 Ida, a woman in her 70s, lives with her husband Ian (70s) who has dementia. She is her husband’s primary caregiver, but gets help from her care network.
	img.img-wide(src="/images/Caremaps_Ida.svg", alt=title)
	h2 Nadine (50s) lives with her husband Larry and two teen sons Jerry and Karl. Karl has type-1 diabetes and Nadine is his primary caregiver.
	img.img-wide(src="/images/Caremaps_Nadine.svg", alt=title)
	h2 Odette (70s) and her husband Marco (70s) share their home with many other people: their son and son-in-law, and five tenants. Marco has Parkinson’s disease and Odette is his primary caregiver, though several others are involved.
	img.img-wide(src="/images/Caremaps_Odette.svg", alt=title)
	h2 Nate (30s) lives with his wife Patty (30s). Nate has a brain tumor and Patty has MS. They are eachothers primary caregivers.
	img.img-wide(src="/images/Caremaps_Nate.svg", alt=title)
	h2 Sally (50s), a former lawyer, lives with her son Pablo (22). 3 months into the pregnancy with Pablo, Sally suffered a ruptured amnio, which led to the discovery that Pablo had XYY chromosone disorder. Sally provides full time care for Pablo.
	img.img-wide(src="/images/Caremaps_Sally.svg", alt=title)
	h2 Tammy’s home includes her husband Rafael, and their two pre-teen children Wanda and Sam. Wanda requires 24x7 direct care; Sam requires constant supervision. Tammy and/or Rafael are actively caring for Wanda and Sam at all times, except when the children are at school.
	img.img-wide(src="/images/Caremaps_Tammy.svg", alt=title)
	h2 Teddy (40s) lives with his wife and two sons Walter and Van. Van has Aspergers, and his parents function as his primary caregivers.
	img.img-wide(src="/images/Caremaps_Teddy.svg", alt=title)
	h2 Omar (40s) and his separated wife Cindy (40s) share a home with their son Bob (pre-teen). Bob has Aspergers and his parents are his primary caregivers.
	img.img-wide(src="/images/Caremaps_Omar.svg", alt=title)

block related-projects
	+project('A pictogram is worth a thousand words.', '../images/Iconography_00.gif', '../a_pictogram_is_worth_a_thousand_words/')
	+project('Remedies come in all shapes and flavors.', '../images/Earthnuts_00.jpg', '../remedies_come_in_all_shapes_and_flavors/')
	+project('Without the past, there is no future.', '../images/Befor_00.jpg', '../without_the_past_there_is_no_future/')