extends ../_layouts/project.pug

block variables
	- var title = 'The truth is rarely black and white.'

block description
	.description
		h3 Description
		p Of Errol Morris, Roger Ebert once said, “After twenty years of reviewing films, I haven't found another filmmaker who intrigues me more… Morris is like a magician, and as great a filmmaker as Hitchcock or Fellini.” With documentaries such as The Fog of War and The Thin Blue Line, Morris helped spur a rebirth of non-fiction film, exploring a wide range of subjects and politically charged themes, that garnered him both wide critical acclaim as well as scrutiny.
		p My objective in creating a film festival around Errol Morris required selecting films which share a common thread, while developing a system and design language to promote said event. The Margin of Error was an examination of truth's subjective nature and the injustice that results from its varying interpretations by the entities within his films.

block metadata
	+metadata("University", "Academy of Art University")
	+metadata("Class", "GR.612 Integrated Communications")
	+metadata("Professors", "Hunter Wimmer", "Christopher Morlan")
	+metadata("Categories", "Packaging", "Branding", "Photography", "Screenprinting")

block content
	img.img-wide(src="/images/Margin_of_Error_01.jpg" alt=title)
	.img-row
		img.img-half(src="/images/Margin_of_Error_02.jpg" alt=title)
		img.img-half(src="/images/Margin_of_Error_03.jpg" alt=title)
	img.img-wide(src="/images/Margin_of_Error_04.jpg" alt=title)
	.img-row
		img.img-half(src="/images/Margin_of_Error_05.jpg" alt=title)
		img.img-half(src="/images/Margin_of_Error_06.jpg" alt=title)
	img.img-wide(src="/images/Margin_of_Error_07.jpg" alt=title)
	img.img-wide(src="/images/Margin_of_Error_08.jpg" alt=title)
	img.img-wide(src="/images/Margin_of_Error_09.jpg" alt=title)
	img.img-wide(src="/images/Margin_of_Error_10.jpg" alt=title)

block related-projects
	+project('Moving mountains to shape the future.', '../images/100_People_00.jpg', '../moving_mountains_to_shape_the_future/')
	+project('Winding down gets a little help.', '../images/Seagrams_00.jpg', '../winding_down_gets_a_little_help/')
	+project('Looking beyond the walls.', '../images/sweet_tooth_thumbnail.jpg', '../looking_beyond_the_walls/')
