extends ../_layouts/project.pug

block variables
	- var title = 'Without the past, there is no future.'

block description
	.description
		h3 Description
		p “Without the past, there is no future.” The origin of this phrase remains a mystery, but the message is clear―understanding where we are going comes from knowing where we’ve been. Stories of one’s family heritage are passed down from generation to generation, but as with all storytelling, details are often lost along the way.
		p Technology has changed how we go about discovering our family’s history and reconnecting with our past. In fact, in the digital age it’s never been easier to organize and document memories. Now, with the help of Befør, Norwegian Americans have the unique opportunity to tell their family’s story in a medium that can be preserved and shared for generations to come.

block metadata
	+metadata("University", "Academy of Art University")
	+metadata("Classes", "GR.800 Group Directed Study", "GR.801 Thesis Development")
	+metadata("Professors", "Carolina de Bartolo", "Dave Gottwald", "Bob Slote", "Phil Hamlett")
	+metadata("Categories", "Thesis", "Usability", "Interaction", "Visual")

block content
	img.img-wide(src="/images/Befor_01.jpg" alt=title)
	img.img-wide(src="/images/Befor_11.jpg" alt=title)
	img.img-wide(src="/images/Befor_02.jpg" alt=title)
	img.img-wide(src="/images/Befor_03.jpg" alt=title)
	img.img-wide(src="/images/Befor_10.jpg" alt=title)
	img.img-wide(src="/images/Befor_04.jpg" alt=title)
	img.img-wide(src="/images/Befor_05.jpg" alt=title)
	img.img-wide(src="/images/Befor_07.jpg" alt=title)
	.img-row
		img.img-half(src="/images/Befor_12.jpg" alt=title)
		img.img-half(src="/images/Befor_13.jpg" alt=title)
	img.img-wide(src="/images/Befor_08.jpg" alt=title)

block related-projects
	+project('Visualizing the Space of Logos of the Fortune 500.', '../images/Fortune_500_Thumbnail.png', '../visualizing_the_fortune_500/')
	+project('Using A.I. to accelerate life science.', '../images/Bioz_0.png', '../using_ai_to_accelerate_life_science/')
	+project('Mapping family caregiving.', '../images/Caremaps_0.png', '../mapping_family_caregiving/')